.custom-select.is-invalid  {
    border: 1px solid #dc3545;
    border-radius: 5px;
}
.requiredAsterisk, .invalid-text {
    color: #dc3545;
}

.userIcon{
    height: 1.5rem;
    border-radius: 1rem;
    margin-right: .5rem;
}

.Tooltip {
    width: max-content;
    background-color: #444;
    color: white;
    font-size: 90%;
    padding: 4px 8px;
    border-radius: 4px;
}
